<div class="container">
  <div class="row"></div>
  <nav>
    <div class="nav-wrapper cyan darken-4">
      <a href="#" class="brand-logo right">GifGenerator</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a routerLink='/registration/'>Registration</a></li>
        <li><a routerLink='/authorization/'>Auth</a></li>
        <li><a routerLink='/generator/'>GifGenerator</a></li>
        <li><a routerLink='/search/'>Search</a></li>
      </ul>
    </div>
  </nav>
</div>
