<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{gif.title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <img
      src="{{gif.images.original.url}}"
      alt="">
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<div class="gif-container">
  <img
    height="100px"
    src="{{gif.images.preview_gif.url}}"
    alt=""
    (click)="open(content)">
</div>
