<!--REDACTOR-->

<div class="setting-form" [formGroup]="optionsForm">
  <div class="general-settings">
    <h5>General settings</h5>
    <div class="form-control">
      <label for="tags">Tags</label>
      <input type="text"
             class="form-control"
             id="tags"
             formControlName="tags" >
    </div>
    <div class="form-control">
      <label for="speed">Speed</label>
      <input type="range"
             class="form-control"
             id="speed"
             formControlName="speed"
             min="1" max="10" value="1" step="1">
    </div>
    <div class="form-control">
      <label for="width">width</label>
      <input type="range"
             class="form-control"
             id="width"
             formControlName="width"
             min="100" max="1000" value="100" step="1"
             (change)="exampleChange()">
    </div>
    <div class="form-control">
      <label for="height">height</label>
      <input type="range"
             class="form-control"
             id="height"
             formControlName="height"
             min="100" max="1000" value="100" step="1"
             (change)="exampleChange()">
    </div>

  </div>

  <div class="text-settings">
    <h5>Text settings</h5>
    <div class="form-control">
      <label for="text">Text</label>
      <input type="text"
             class="form-control"
             id="text"
             formControlName="text" >
    </div>
    <div class="form-control">
      <label for="textSize">Text size</label>
      <input type="range"
             class="form-control"
             id="textSize"
             formControlName="textSize"
             min="5" max="50" value="5" step="1"
             (change)="textSizeChange()">
    </div>
    <div class="form-control">
      <label for="textColor">Text textColor</label>
      <input
        class="form-control"
        id="textColor"
        formControlName="textColor"
        [style.background]="textColor"
        [colorPicker]="textColor"
        (colorPickerChange)="textColorChange($event)">
    </div>

    <div class="row">
      <div class="col text-right">
        <div ngbDropdown placement="top-right"  class="d-inline-block">
          <button class="btn btn-outline-primary" id="ddfont" ngbDropdownToggle>Select font</button>
          <div ngbDropdownMenu aria-labelledby="ddfont">
            <button
              class="dropdown-item"
              id="serif"
              (click)="selectFont($event)">
              serif
            </button>
            <button
              class="dropdown-item"
              id="sans-serif"
              (click)="selectFont($event)">
              sans-serif
            </button>
            <button
              class="dropdown-item"
              id="system-ui"
              (click)="selectFont($event)">
              system-ui
            </button>
            <button
              class="dropdown-item"
              id="monospace"
              (click)="selectFont($event)">
              monospace
            </button>
            <button
              class="dropdown-item"
              id="cursive"
              (click)="selectFont($event)">
              cursive
            </button>
            <button
              class="dropdown-item"
              id="fantasy"
              (click)="selectFont($event)">
              fantasy
            </button>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>

<!--EXAMPLE-->

<div class="example-container">
  <div
    #example
    class="exampleGif"
    [ngStyle]="exampleGif">
    <div
      class="example-text"
      ngDraggable
      [bounds]="example"
      inBounds="true"
      (endOffset)="onMoveEnd($event)"
      [ngStyle]="textSize"
      [style.color]="textColor"
      [style.font-family]="textFont"
    >
      {{optionsForm.value.text}}
    </div>
  </div>
</div>

<!--RESULT-->

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Yours gif</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="gif-container">

      <div *ngIf="loader">
        <img src="../../../assets/loader.gif" alt="">
      </div>
      <div class="gif-block" *ngIf="gif">
        <img
          [src]="gif.url"
          alt="usermedia">
        {{gif.tags}}
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<button [disabled]="source.length == 0"
        class="btn btn-lg btn-outline-primary"
        (click)="generateGif(content)"
>Generate</button>



