.setting-form{
  width: 100%;
  height: auto;
  display: flex;
}
.general-settings{
  display: inline-block;
  margin: 5px;
}
.text-settings{
  display: inline-block;
  margin: 5px;
}
.form-control{
  margin: 5px;
}
.example-container{
 display: inline-block;
}
.exampleGif{

}
.video{
  width: inherit;
  position: relative;
}

.example-text{
  cursor: move;
  display: inline-block;
  position: absolute;
  width: auto;
  height: auto;
  z-index: 1;
}

.gif-container{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;
}

